body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.rond{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #e302c5;
    border:black solid 2px;
}
